boto3~=1.20
dask[dataframe]==2023.5.1
gretel-client>=0.16.0
jinja2~=3.1
networkx~=3.0
numpy~=1.20
pandas~=1.5
plotly~=5.11
pydantic~=1.9
requests~=2.25
scikit-learn~=1.0
smart-open[s3]~=5.2
sqlalchemy~=1.4
typing-extensions~=4.7
unflatten==0.1.1
