alabaster==0.7.12
Babel==2.10.3
backports.cached-property==1.0.0.post2
certifi==2022.9.24
chardet==3.0.4
charset-normalizer==2.1.1
click==7.1.2
docker==4.4.1
docutils==0.17.1
gretel-client==0.15.1
idna==2.10
imagesize==1.4.1
Jinja2==3.0.3
m2r==0.2.1
MarkupSafe==2.1.1
mistune==0.8.4
packaging==21.3
Pygments==2.13.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.4
PyYAML==5.4.1
requests==2.25.0
six==1.16.0
smart-open==5.2.1
snowballstemmer==2.2.0
Sphinx==3.0.3
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tabulate==0.8.9
tenacity==6.2.0
tqdm==4.64.1
urllib3==1.25.11
websocket-client==1.4.1
