absl-py==1.2.0
alabaster==0.7.12
attrs==22.1.0
Babel==2.10.3
backports.cached-property==1.0.0.post2
boto3==1.24.89
botocore==1.27.89
category-encoders==2.5.1.post0
certifi==2022.9.24
chardet==3.0.4
charset-normalizer==2.1.1
click==7.1.2
cloudpickle==2.2.0
contourpy==1.0.5
cycler==0.11.0
decorator==5.1.1
dill==0.3.5.1
dm-tree==0.1.7
docker==4.4.1
docutils==0.17.1
dython==0.7.2
etils==0.8.0
fonttools==4.37.4
gast==0.5.3
googleapis-common-protos==1.56.4
gretel-client==0.15.1
gretel-synthetics==0.19.0
idna==2.10
imagesize==1.4.1
importlib-resources==5.10.0
Jinja2==3.0.3
jmespath==1.0.1
joblib==1.2.0
kiwisolver==1.4.4
loky==2.9.0
m2r==0.2.1
MarkupSafe==2.1.1
matplotlib==3.6.1
mistune==0.8.4
mpmath==1.2.1
numpy==1.23.3
packaging==21.3
pandas==1.5.0
patsy==0.5.3
Pillow==9.2.0
promise==2.3
protobuf==4.21.7
psutil==5.9.2
pydantic==1.10.2
Pygments==2.13.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.4
PyYAML==5.4.1
requests==2.25.0
s3transfer==0.6.0
scikit-learn==1.1.2
scikit-plot==0.3.7
scipy==1.9.2
seaborn==0.12.0
sentencepiece==0.1.96
six==1.16.0
smart-open==5.2.1
snowballstemmer==2.2.0
Sphinx==3.0.3
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
statsmodels==0.13.2
tabulate==0.8.9
tenacity==6.2.0
tensorflow-datasets==4.7.0
tensorflow-estimator==2.10.0
tensorflow-metadata==1.10.0
tensorflow-privacy==0.7.3
tensorflow-probability==0.16.0
termcolor==2.0.1
threadpoolctl==3.1.0
toml==0.10.2
tqdm==4.64.1
typing-extensions==4.4.0
urllib3==1.25.11
websocket-client==1.4.1
zipp==3.9.0
